html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    link(rel='stylesheet', href='/styles/index.css')
  body
    .error-page
      h2 Oops
      p An unexpected error happened
      a(href='/') return to homepage
