<% let folderFiles = locals.isRoot ? locals.rootFiles : locals.files %> 
<% let content = `
<h2>Your space / ${ locals.isRoot ? '' : folder.name  }</h2>
<div class="folder-files">` %>
<% if(locals.isRoot) { %>
  <% folders.forEach(folder => { %>
    <% content += include('item_preview.ejs', 
    {name: folder.name, icon: 'folder', redirects: true, url: `/folder/${folder.id}` }) %>
  <% }) %>
<% } %>
<% folderFiles.forEach(file => { %>
    <% content += include('item_preview.ejs', 
    {name: file.name, icon: 'file', redirects: true, url: `/file/${file.id}` }) %>
<% }) %>
<% content += '</div>' %>

<% let styles = `
    <link rel="stylesheet" href="/styles/folder.css">
` 
%>
<%- include('layout.ejs', {styles, content, selectedFolder: locals.folder ? folder.id : null}) %>
