<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <% if(locals.styles) { %>
    <%- styles %>
    <% } %>
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <main>
      <%- include('header.ejs') %>
      <% if(locals.content) { %>
      <%- content %>
      <% } %>
    </main>
  </body>
</html>
