<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/login.css" />
    <!-- more styles later -->
  </head>
  <body>
    <div class="login-background">
      <div class="login-form-card form-card">
        <h2>Login to start uploading files</h2>
        <form action="/login" method="POST">
          <fieldset>
            <input placeholder="Email" type="text" name="email" id="email" />
            <input placeholder="Password" type="password" name="password" id="password" />
          </fieldset>
          <button>Send</button>
        </form>
      </div>
    </div>
  </body>
</html>
