<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/authscreen.css" />
    <link rel="stylesheet" href="/styles/form.css" />
  </head>
  <body>
    <div class="auth-screen-background form-background">
      <div class="form-card-wrapper">
        <% if(locals.serverError) { %>
        <%- include('error_label.ejs', {message: 'An unexpected error happened during the login'}) %>
        <% } %>
        <div class="form-card <%=locals.serverError ? 'error' : ''%>">
          <h2>Login to continue uploading files</h2>
          <form action="/login" method="POST">
            <fieldset>
              <%- include('form_input.ejs',
              {
                value: locals.values && values.email ? values.email : '',
                error: locals.errors && errors.email ? errors.email.msg : '',
                type: 'text',
                name: 'email',
                label: 'Email'
              }) %>
              <%- include('form_input.ejs',
              {
                value: locals.values && values.password ? values.password : '',
                error: locals.errors && errors.password ? errors.password.msg : '',
                type: 'password',
                name: 'password',
                label: 'Password'
              }) %>
            </fieldset>
            <div>
              <button class="main-button">Send</button>
            </div>
          </form>
          <span>Don't have an account? <a href="/signup">Sign up</a> now</span>
        </div>
      </div>
    </div>
  </body>
</html>
