.form-background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  backdrop-filter: blur(2px);
  display: none;
}

.form-card-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: min(1rem, 10%) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: rgba(228, 227, 255, 0.1);
}

.form-card {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #1c1c25;
  max-width: min(400px, 80%);
  width: 100%;
  max-height: 100%;
  padding: 1.5rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
}
.form-card.error {
  border: 1px solid #ff5b5b;
}

.form-card .close-button {
  color: #a09eff;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background: none;
  border: none;
  width: fit-content;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
}
.form-card .close-button:hover {
  background-color: #262632;
}

.form-card h2 {
  font-size: 1.25em;
  font-weight: 500;
}

.form-card a {
  color: #a09eff;
  text-decoration: none;
  font-weight: 700;
}

.form-card form {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.form-card form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-card form .input-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.input-container.error .input {
  border: 2px solid #ff5b5b;
}

.form-card form .input {
  padding: 0.75rem 0.5rem;
  background: linear-gradient(to bottom, #262632, #383748 200%);
  border: none;
  border-radius: 0.3rem;
  color: white;
  width: 100%;
}
.form-card form .input:focus {
  outline: 2px solid #c6c5f3;
}
.form-card form .input::placeholder {
  color: white;
}

.form-card form .password-container .input-wrapper {
  position: relative;
}
.form-card form .password-container .input {
  padding-right: 3rem;
}
.password-container button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-0.75rem, -50%);
  background: none;
  color: #c6c5f3;
  border: none;
  width: 1.5rem;
  aspect-ratio: 1/1;
}
.password-container button .open-eye {
  display: none;
}

.form-card .main-button {
  padding: 0.25em 1em;
  font-size: 1.6em;
  margin: 0 auto;
}

.form-card .input-container input[type='file'] {
  display: none;
}
.form-card .input-container select > option {
  background-color: #262632;
}
