* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Satoshi';
  src:
    url('../fonts/Satoshi-Light.woff2') format('woff2'),
    url('../fonts/Satoshi-Light.woff') format('woff'),
    url('../fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src:
    url('../fonts/Satoshi-Regular.woff2') format('woff2'),
    url('../fonts/Satoshi-Regular.woff') format('woff'),
    url('../fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src:
    url('../fonts/Satoshi-Medium.woff2') format('woff2'),
    url('../fonts/Satoshi-Medium.woff') format('woff'),
    url('../fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src:
    url('../fonts/Satoshi-Bold.woff2') format('woff2'),
    url('../fonts/Satoshi-Bold.woff') format('woff'),
    url('../fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src:
    url('../fonts/Satoshi-Black.woff2') format('woff2'),
    url('../fonts/Satoshi-Black.woff') format('woff'),
    url('../fonts/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src:
    url('../fonts/Satoshi-Italic.woff2') format('woff2'),
    url('../fonts/Satoshi-Italic.woff') format('woff'),
    url('../fonts/Satoshi-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

body {
  background-color: #1c1c25;
  color: white;
  font-family: 'Satoshi';
}

a {
  text-decoration: none;
  color: inherit;
}

.main-button {
  background: linear-gradient(to bottom left, #e4e3ff, #c6c5f3);
  border: none;
  border-radius: 0.3rem;
  font-weight: 700;
  width: fit-content;
  height: fit-content;
  padding: 0.8em 1em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.secondary-button {
  background-color: rgba(198, 197, 243, 0.09);
  padding: 0.8em 1em;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  border-radius: 0.5em;
  white-space: nowrap;
  justify-content: center;
}
.secondary-button svg {
  color: #e4e3ff;
  object-fit: contain;
}
.bare-button {
  background: none;
  border: none;
  color: #a09eff;
  font-size: 1em;
}
