body {
  display: flex;
  flex-direction: row;
}

nav {
  background-color: #262632;
  width: 30%;
  height: 100%;
  position: sticky;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
nav .actions-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  margin: 0 auto;
  padding: 0.8em 0.5em;
}
nav button {
  background-color: rgba(198, 197, 243, 0.09);
  padding: 0.8em 1em;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  border-radius: 0.5em;
  /* flex: 1; */
  white-space: nowrap;
}
nav button svg {
  color: #e4e3ff;
}

nav .folders-section h2 {
  padding: 0 1.2em;
  font-size: 1.25em;
}
nav .folders-section .folders-list {
  list-style: none;
  padding: 1em 0;
}
.folders-list li {
  padding: 0.4em 2.25em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8em;
  font-weight: 500;
}
.folders-list li svg {
  color: #e4e3ff;
}
.folders-list li.selected {
  background-color: rgba(198, 197, 243, 0.09);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 1.2rem 2rem;
}

